extends layout
block content
  h1= display_name
  if content_array
    p Information known to the Storyteller about "#{display_name}":
    each article in content_array
      .articlecontainer
        .article #{article.content}

        each key in article.rule
         .matches #{key}
        a(href='/topic/edit/'+article.article_id) EDIT
  else
    p There is no information available to the Storyteller on '#{display_name}'
