extends layout
block content
  h1= title
  if content_array
    p Information known to #{charName} about "#{display_name}":
    each article in content_array
      .articlecontainer
        .article #{article.content}

  else
    p There is no information available to #{charName} about '#{display_name}'

  p auth = #{auth}