extends layout
block content
  h1= display_name
  if articles
    p Information known to #{charName} about "#{display_name}":
    each art in articles
      .articlecontainer
        .article #{art.content}

  else
    p There is no information available to you about '#{display_name}'
